@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&display=swap");

body {
  background-color: #373a40;
  overflow-x: hidden;
  font-family: "Koulen", cursive;
}
.navbar-brand {
  margin-left: 1.5%;
}
input,
select,
textarea {
  color: #ff0000;
}

textarea:focus,
input:focus {
  color: aliceblue;
}
h3 {
  color: aliceblue;
  margin-bottom: 1%;
  font-family: "Koulen", cursive;
}
.card {
  margin: 2%;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
}

.popularity {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  width: 100%;
}
.card img {
  height: 100%;
}
.carousel-item img {
  margin-left: 2%;
  height: 500px;
}
